*{margin:0;padding:0;box-sizing:border-box;font-family:'Poppins',sans-serif}
html{scroll-behavior:smooth}
body{background:#0f172a;color:#e2e8f0}
header{background:linear-gradient(135deg,#0ea5e9,#2563eb);padding:70px 20px;text-align:center;animation:fadeIn 2s}
header h1{font-size:44px;margin-bottom:10px;animation:slideDown 1.5s}
header p{font-size:18px;opacity:0.9}
nav{background:#111827;padding:15px;text-align:center;position:sticky;top:0;z-index:1000}
nav a{color:white;margin:0 15px;text-decoration:none;font-weight:600;transition:0.3s}
nav a:hover{color:#38bdf8}
section{max-width:1000px;margin:40px auto;padding:25px;background:#111827;border-radius:12px;box-shadow:0 0 20px rgba(0,0,0,0.3);animation:fadeUp 1.5s}
section h2{margin-bottom:15px;color:#38bdf8}
.skills-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(150px,1fr));gap:15px}
.skill{background:#0f172a;padding:10px;border-radius:8px;text-align:center;transition:0.3s}
.skill:hover{transform:scale(1.05);background:#1e293b}
.projects{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));gap:20px}
.project-card{text-decoration:underline;color:#0f172a;padding:15px;border-radius:10px;transition:0.3s}
.project-card:hover{transform:translateY(-5px)}
.cert-grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(250px,1fr));gap:20px}
.cert-card{background:#0f172a;padding:15px;border-radius:10px;transition:0.3s}
.cert-card:hover{transform:translateY(-5px)}
.btn{display:inline-block;margin-top:10px;padding:8px 15px;background:#2563eb;color:white;text-decoration:none;border-radius:6px}
footer{text-align:center;padding:20px;background:#111827;margin-top:30px}
@keyframes fadeIn{from{opacity:0}to{opacity:1}}
@keyframes slideDown{from{transform:translateY(-30px);opacity:0}to{transform:translateY(0);opacity:1}}
@keyframes fadeUp{from{transform:translateY(30px);opacity:0}to{transform:translateY(0);opacity:1}}
.heading3{text-decoration: underline; font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;font-style: italic;}